body
{
    background-color: rgba(red, green, blue, alpha);
}
.container{
    width: 65%;
    height: auto;
    background: white;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
}


.badan-utama
{
    max-width: 1080px;
    margin: auto;
    background-color: gray;
    padding: 15px;
    overflow: hidden;
}
 
header
{
    background-color: crimson;
    color: white;
    padding: 1px;
    font-size: 25px;

}
 
header h2
{
    margin-bottom: 0p\;
    font-size: 160px;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkorange;
    border: 1px solid darkorange;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: aqua;
}

nav li a:hover {
    opacity:0.9;
    background-color: gray;
}


.kotak
{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 15px;
}
 
.kotak h3
{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 13px;
}

.kotak img
{
    display: block;
    width: auto;
    margin-bottom: 10px;
}
 
.kotak p
{
    margin-bottom: 10px;
}
 
.menu-kiri
{
    width: 250px;
    margin-right: 10px;
    float: left;
    height: auto;
}
 
.menu-tengah
{
    width: 795px;
    margin-right: 10px;
    float: left;
}
 
.menu-tengah h3
{
    background: none;
    color: crimson;
    margin-bottom: 0;
}
  
.tombol
{
    display: block;
    text-decoration: none;
    padding: 10px;
    width: 120px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
 
.tombol:hover
{
    background-color: black;
    transition-duration: 2s;
}
  
.tombol-lengkap
{
    background-color: darkorange;
}
  
.menu-kiri, .menu-tengah
{
    margin-bottom: 15px;
}
 
footer
{
    clear: both;
    background-color: crimson;
    color: black;
    padding: 15px;
    text-align: center;
}
 
.menu-kiri ul
{
    list-style-type: none;
}
 
.menu-kiri ul li a
{
    text-decoration: none;
    display: block;
    padding: 13px;
    border-bottom: 1px solid grey;
    margin-bottom: 12px;
    color: black;
}
 
.menu-kiri ul li a:hover
{
    color: darkorange;
    border-bottom: 5px double chocolate;
    transition-duration: 2s;
}